* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

.table {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-inline: auto;
}

.cell {
  background-color: burlywood;
  width: 200px;
  height: 200px;
  border: 2px solid brown;
  cursor: pointer;
}

.cell img {
  width: 200px;
  height: 200px;
}

.players-container {
  width: 80%;
  margin-top: 3rem;
  font-size: 3rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.player-1,
.player-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}

.players-container button,
.start-restart-btn {
  padding: 1rem 2rem;
  font-size: 1.325rem;
  background-color: burlywood;
  border: 1px solid brown;
  border-radius: 0.6rem;
}

.start-restart-btn {
  display: block;
  margin-inline: auto;
}

.results {
  font-size: 1.275rem;
  text-align: center;
  margin-top: 1.5rem;
}
